# Created by .ignore support plugin (hsz.mobi)
.DS_Store
.idea/artifacts/
.idea/buildyourhabits.iml
.idea/codeStyleSettings.xml
.idea/codeStyles/
.idea/compiler.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/
.idea/ebconfigmappings.xml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/jsLibraryMappings.xml
.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/libraries/Maven__c3p0_c3p0_0_9_1_2.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_3_0.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_11.xml
.idea/libraries/Maven__commons_fileupload_commons_fileupload_1_2_1.xml
.idea/libraries/Maven__commons_io_commons_io_2_5.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
.idea/libraries/Maven__javax_el_javax_el_api_3_0_0.xml
.idea/libraries/Maven__javax_servlet_jsp_jstl_javax_servlet_jsp_jstl_api_1_2_1.xml
.idea/libraries/Maven__javax_servlet_jstl_1_2.xml
.idea/libraries/Maven__javax_validation_validation_api_2_0_1_Final.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_9_0.xml
.idea/libraries/Maven__net_bytebuddy_byte_buddy_agent_1_9_0.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_hibernate_common_hibernate_commons_annotations_5_0_1_Final.xml
.idea/libraries/Maven__org_hibernate_hibernate_core_5_2_15_Final.xml
.idea/libraries/Maven__org_hibernate_javax_persistence_hibernate_jpa_2_1_api_1_0_0_Final.xml
.idea/libraries/Maven__org_hibernate_validator_hibernate_validator_6_0_7_Final.xml
.idea/libraries/Maven__org_javassist_javassist_3_22_0_GA.xml
.idea/libraries/Maven__org_jboss_jandex_2_0_3_Final.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_3_1_Final.xml
.idea/libraries/Maven__org_jboss_spec_javax_transaction_jboss_transaction_api_1_2_spec_1_0_1_Final.xml
.idea/libraries/Maven__org_mockito_mockito_core_2_23_0.xml
.idea/libraries/Maven__org_objenesis_objenesis_2_6.xml
.idea/libraries/Maven__org_springframework_security_spring_security_config_5_0_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_core_5_0_5_RELEASE.xml
.idea/libraries/Maven__org_springframework_security_spring_security_web_5_0_5_RELEASE.xml
.idea/libraries/Maven__xml_apis_xml_apis_1_0_b2.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/webContexts.xml
.idea/workspace.xml
lib/
out/.DS_Store
out/artifacts/.DS_Store
out/artifacts/besthabit_war_exploded/.DS_Store
out/artifacts/besthabit_war_exploded/WEB-INF/.DS_Store
out/artifacts/besthabit_war_exploded/WEB-INF/classes/com/
out/artifacts/besthabit_war_exploded/WEB-INF/lib/
out/artifacts/buildyourhabits_war_exploded/
src/.DS_Store
src/main/.DS_Store
src/main/java/.DS_Store
src/main/java/com/.DS_Store
src/main/webapp/.DS_Store
src/main/webapp/.ebextensions/.DS_Store
src/main/webapp/WEB-INF/view/.DS_Store
src/main/webapp/resources/.DS_Store
src/main/webapp/resources/assets/font-awesome/HELP-US-OUT.txt
src/main/webapp/resources/assets/ico/
src/main/webapp/resources/images/.DS_Store
target/
src/main/resources/persistence-mysql.properties
.idea/libraries/Maven__ch_qos_logback_logback_classic_1_1_2.xml
